body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f2f2f2;
}

.pantalla {
  display: none;
  padding: 20px;
  min-height: 100vh; /* Ocupa toda la pantalla */
  box-sizing: border-box;
}

.activo {
  display: block;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  border: none;
  background: #0077cc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
}

.volver {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #555;
  font-size: 14px;
}

.producto {
  margin: 20px auto;
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}